[KSplash Theme: Free]
Name = Mandriva Free Splash Screen
Description = Mandriva KDE4 Splash Screen for Free
Version = 1.0

Engine = kde4-splash-mdv

SVGFile = kde_splash_free_1280_1024.svg
SVGFileWide = kde_splash_free_1920_1200.svg

Background = :background

Status = :Status
StatusFont = Helvetica, 15
StatusColor = 255, 255, 255

//Status-kded = Starting kded
//Status-kcminit = Starting kcminit
//Status-wm = Starting wm

AnimationItems = 3

Image1 = :Stage1
ImageStep1 = kded 

Image2 = :Stage2
ImageStep2 = kcminit 

Image3 = :Stage3
ImageStep3 = wm 
